{% extends 'index.html.twig' %}

{% block title %}Gym-Morrison · Register{% endblock %}

{% block stylesheets %}
    <!-- Custom fonts for this template-->
    {#<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">#}
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>

    <!-- Custom Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/21b5751b50.js" crossorigin="anonymous"></script>

    <style>
        .vl {
            border-left: 1px solid lightgrey;
        }
        @media (max-width: 768px) {
            .vl {
                display: none;
            }
        }
    </style>

{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="card border-0 rounded-lg mx-auto mt-5 mb-5 p-5">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-6">
                        <h1><i class="fas fa-dumbbell text-primary"></i></h1>
                        <h1 class="text-primary" style="font-family: 'Poppins', sans-serif;">Gym-Morrison</h1>
                        <h2 class="mt-4 text-secondary">Sign up <i class="fas fa-user-plus"></i></h2>
                        <p class="mt-3">I already have an account! <a href="{{ path('app_login') }}" class="text-primary">Log in</a></p>
                        {% for message in app.flashes('exito') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('fail') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="text-success rounded border bg-light p-4 font-small">
                            <div class="text-dark">Why Gym-Morrison?</div> <br>
                            <i class="fas fa-check"></i> Join Activities. <br>
                            <i class="fas fa-check"></i> Manage my subscription. <br>
                            <i class="fas fa-check"></i> Private profile. <br>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        {{ form_start(formulario) }}

                        <fieldset class="mt-5 border rounded p-3">
                            <legend class="text-primary">Login info</legend>


                            <i class="fas fa-id-card"></i> {{ form_label(formulario.profile_photo, 'Profile Photo') }}
                            {{ form_widget(formulario.profile_photo,{'attr': {'class': 'form-control-file', 'accept': 'image/jpeg, image/jpg'}})}}
                            {{ form_help(formulario.profile_photo) }}

                            <br> <br>
                            {{ form_errors(formulario.email) }}
                            <i class="fas fa-envelope"></i> {{ form_label(formulario.email, 'Your email') }} <br>
                            <label id="email_exists"></label>
                            {{ form_widget(formulario.email, {'attr': {'class': 'border-top-0 border-right-0 border-left-0 rounded-0', 'pattern': '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$'}}) }}
                            {{ form_help(formulario.email) }}

                            {{ form_errors(formulario.password) }}
                            <i class="fas fa-key"></i>
                            {{ form_widget(formulario.password, {'attr': {'class': 'border-top-0 border-right-0 border-left-0 rounded-0', 'placeholder': 'Password...', 'style': 'transition: 1s;'}}) }}
                            {{ form_help(formulario.password) }}
                            <input type="password" id="user_password2" class="form-control border-top-0 border-right-0 border-left-0 rounded-0 mt-1" placeholder="Confirm password..." required>
                            <p class="border text-danger p-3 text-left mt-3" id="user_password2_error" style="font-size: small;">
                                <label><i class="fas fa-times" id="confirm_pass"></i> Passwords should match</label> <br>
                                <label><i class="fas fa-times" id="length_pass"></i> 8-18 length</label> <br>
                                <label><i class="fas fa-times" id="upper_pass"></i> One upper case at least</label> <br>
                                <label><i class="fas fa-times" id="lower_pass"></i> One lower Case at least</label> <br>
                                <label><i class="fas fa-times" id="number_pass"></i> One number at least</label> <br>
                            </p>


                        </fieldset>
                    </div>
                </div>

                <div class="row">
                        <div class="col text-center">
                            <fieldset class="mt-5 mb-3 p-3 border rounded">
                                <legend class="text-primary">Personal info</legend>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            {{ form_errors(formulario.dni) }}
                                            <i class="fas fa-id-card"></i> {{ form_label(formulario.dni, 'DNI') }}
                                            {{ form_widget(formulario.dni, {'attr': {'class': 'border-top-0 border-right-0 border-left-0 rounded-0 mb-5', 'placeholder': '12345678X', 'pattern': '[0-9]{8}[A-Za-z]{1}'}}) }}
                                            {{ form_help(formulario.dni) }}

                                            {{ form_errors(formulario.name) }}
                                            <i class="fas fa-user"></i> {{ form_label(formulario.name, 'Name') }}
                                            {{ form_widget(formulario.name, {'attr': {'class': 'border-top-0 border-right-0 border-left-0 rounded-0 mb-2', 'placeholder': 'Travis'}}) }}
                                            {{ form_help(formulario.name) }}

                                            {{ form_errors(formulario.surname) }}
                                            <i class="fas fa-user"></i> {{ form_label(formulario.surname, 'Surname') }}
                                            {{ form_widget(formulario.surname, {'attr': {'class': 'border-top-0 border-right-0 border-left-0 rounded-0 mb-5', 'placeholder': 'Scott'}}) }}
                                            {{ form_help(formulario.surname) }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ form_errors(formulario.birthdate) }}
                                            <i class="fas fa-birthday-cake"></i> <label>Birthdate</label>
                                            {{ form_widget(formulario.birthdate, {'attr': {'class': 'justify-content-center mb-5'}}) }}
                                            {{ form_help(formulario.birthdate) }}

                                            {{ form_errors(formulario.sex) }}
                                            <i class="fas fa-genderless"></i> <label>Sex</label>
                                            {{ form_widget(formulario.sex, {'attr': {'class': 'text-left mb-5 p-3 d-flex justify-content-around'}}) }}
                                            {{ form_help(formulario.sex) }}

                                            {{ form_errors(formulario.address) }}
                                            <i class="fas fa-map-marker-alt"></i> {{ form_label(formulario.address, 'Address') }}
                                            {{ form_widget(formulario.address, {'attr': {'class': 'border-top-0 border-right-0 border-left-0 rounded-0 mb-2', 'placeholder': 'The Bronx, 5, 4C'}}) }}
                                            {{ form_help(formulario.address) }}

                                            {{ form_errors(formulario.phone) }}
                                            <i class="fas fa-mobile-alt"></i> {{ form_label(formulario.phone, 'Phone') }}
                                            {{ form_widget(formulario.phone, {'attr': {'class': 'border-top-0 border-right-0 border-left-0 rounded-0 mb-5', 'placeholder': '012345678', 'pattern': '[0-9]{1,14}'}}) }}
                                            {{ form_help(formulario.phone) }}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-center">
                            <div id="fill-all" class="text-warning m-3">
                                You must fill all fields
                            </div>

                            {{ form_end(formulario) }}
                            <p class="mt-5 mb-3 text-muted">&copy; Gym-Morrison 2020</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/plugins/common/common.min.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/gleek.js"></script>
    <script src="/js/styleSwitcher.js"></script>
    <script>
        $('.custom-file').children('label').remove()
        $('#user_profile_photo').removeClass('custom-file-input').addClass('form-control p-2 w-100')

        var email = document.getElementById('user_email')
        var pass = document.getElementById('user_password')
        var pass2 = document.getElementById('user_password2')
        var submit = document.getElementById('user_submit')
        var fillall = document.getElementById('fill-all')
        var done = false

        email.onkeyup = () => {
            var ruta = '/checkEmail'
            console.log(email.value)
            $.ajax({
                type: 'POST',
                url: ruta,
                data: ({email: email.value.toString()}),
                async: true,
                dataType: 'json',
                success: function (data) {
                    check(data)
                }
            })
        }

        pass.onkeyup = () => {
            check()
        }
        pass2.onkeyup = () => {
            check()
        }

        function check (exists) {
            // email
            if (exists) {
                $('#email_exists').text('Email avaliable').addClass('text-success').removeClass('text-danger')
                done = true
            } else {
                $('#email_exists').text('Email already exists').removeClass('text-success').addClass('text-danger')
                done = false
            }
            // length
            if (pass.value.length >= 8 && pass.value.length <= 18) {
                $('#length_pass').addClass('fa-check').removeClass('fa-times').parent().addClass('text-success')
                done = true
            } else {
                $('#length_pass').removeClass('fa-check').addClass('fa-times').parent().removeClass('text-success')
                done = false
            }
            // one upper case
            if (pass.value.toUpperCase() != pass.value) {
                $('#upper_pass').addClass('fa-check').removeClass('fa-times').parent().addClass('text-success')
                done = true
            } else {
                $('#upper_pass').removeClass('fa-check').addClass('fa-times').parent().removeClass('text-success')
                done = false
            }
            // one lower case
            if (pass.value.toLowerCase() != pass.value) {
                $('#lower_pass').addClass('fa-check').removeClass('fa-times').parent().addClass('text-success')
                done = true
            } else {
                $('#lower_pass').removeClass('fa-check').addClass('fa-times').parent().removeClass('text-success')
                done = false
            }
            // one number
            if (/\d/.test(pass.value)) {
                $('#number_pass').addClass('fa-check').removeClass('fa-times').parent().addClass('text-success')
                done = true
            } else {
                $('#number_pass').removeClass('fa-check').addClass('fa-times').parent().removeClass('text-success')
                done = false
            }
            // pass match
            if (pass.value === pass2.value && pass.value != '') {
                $('#confirm_pass').addClass('fa-check').removeClass('fa-times').parent().addClass('text-success')
                done = true
            } else {
                $('#confirm_pass').removeClass('fa-check').addClass('fa-times').parent().removeClass('text-success')
                done = false
            }
            if (done === true) {
                fillall.style.display = 'none'
                submit.disabled = false
                console.log(done)
            } else {
                fillall.style.display = 'block'
                submit.disabled = true
                console.log(done)
            }
        }

    </script>
{% endblock %}

