{% extends 'base.html.twig' %}

{% block title %}Hello ActivitiesController!{% endblock %}

{% block body %}
    {{ parent() }}
    {{ dump(activity) }}
    {{ dump(app.user.id) }}
    <div class="card m-4">
        <h5 class="card-header">{{ activity.title }}</h5>
        <div class="card-body">
            <p class="card-text">{{ activity.content }}</p>
            <p>
                <label>{{ activity.startdate | date }}</label>
            </p>
            <button class="btn btn-danger" onclick="removeActivity({{ app.user.id }})">Remove activity</button>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}
