<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Custom fonts for this template-->
            {#<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">#}
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap" rel="stylesheet">

            <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>

            <!-- Custom Stylesheet -->
            <link href="css/style.css" rel="stylesheet">

            <script src="https://kit.fontawesome.com/21b5751b50.js" crossorigin="anonymous"></script>

        {% endblock %}
    </head>
        {% block body %}
            <!--*******************
                Preloader start
            ********************-->
            <div id="preloader">
                <div class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
            <!--*******************
                Preloader end
            ********************-->

            {% if app.user.roles[0] == 'ROLE_USER' %}
            <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-0">
                <div class="container">
                    <a class="navbar-brand" style="font-family: 'Poppins', sans-serif;" href="{{ path('dashboard') }}"><i class="fas fa-dumbbell"></i> Gym-Morrison</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {% if app.user.roles[0] == 'ROLE_STAFF' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('RegisterActivity') }}">Create Activity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('MyActivities') }}">My Activities</a>
                            </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="">Activities</a>
                                </li>
                            {% endif %}
                        </ul>

                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> {{ app.user.name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/profile/{{ app.user.id }}">My profile</a>
                                <a class="dropdown-item" href="">Edit my profile</a>
                                <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        <div class="container"></div>
            {% else %}
            <!--**********************************
                Main wrapper start
            ***********************************-->
            <div id="main-wrapper">

                <!--**********************************
                    Nav header start
                ***********************************-->
                <div class="nav-header text-center">
                    <div class="brand-logo">
                        <a class="text-white" style="font-family: 'Poppins', sans-serif;" href="{{ path('dashboard') }}">
                            <b class="logo-abbr"><i class="fas fa-dumbbell"></i> </b>
                            <span class="brand-title">
                                <i class="fas fa-dumbbell"></i> Gym-Morrison
                            </span>
                        </a>
                    </div>
                </div>
                <!--**********************************
                    Nav header end
                ***********************************-->

                <!--**********************************
                    Header start
                ***********************************-->
                <div class="header">
                    <div class="header-content clearfix">

                        <div class="nav-control">
                            <div class="hamburger">
                                <span class="toggle-icon"><i class="icon-menu"></i></span>
                            </div>
                        </div>
                        <div class="header-left">
                            <div class="input-group icons">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                                </div>
                                <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                                <div class="drop-down animated flipInX d-md-none">
                                    <form action="#">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="header-right">
                            <ul class="clearfix">
                                <li class="icons dropdown">
                                    <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                        <span class="activity active"></span>
                                        <img src="images/user/1.png" height="40" width="40" alt="">
                                    </div>
                                    <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                        <div class="dropdown-content-body">
                                            <ul>
                                                <li>
                                                    <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void()">
                                                        <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                                    </a>
                                                </li>

                                                <hr class="my-2">
                                                <li>
                                                    <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                                </li>
                                                <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--**********************************
                    Header end ti-comment-alt
                ***********************************-->

                <!--**********************************
                    Sidebar start
                ***********************************-->
                <div class="nk-sidebar">
                    <div class="nk-nav-scroll">
                        <ul class="metismenu" id="menu">
                            <a class="nav-label text-primary" href="{{ path('dashboard') }}">
                                <i class="icon-speedometer menu-icon"></i>
                                <b>Dashboard</b>
                            </a>
                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class="icon-fire menu-icon"></i> <span class="nav-text">Activities</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li><a href="{{ path('RegisterActivity') }}">Create Activity</a></li>
                                    <li><a href="{{ path('MyActivities') }}">My Activities</a></li>
                                    <li><a href="#">Show All</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class="icon-user menu-icon"></i><span class="nav-text">Users</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li><a href="#">Create admin user</a></li>
                                    <li><a href="#">Search for a user</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--**********************************
                    Sidebar end
                ***********************************-->

            {% endif %}
            {% endblock %}

        {% block javascripts %}
            <!--**********************************
                Scripts
            ***********************************-->
            <script src="plugins/common/common.min.js"></script>
            <script src="js/custom.min.js"></script>
            <script src="js/settings.js"></script>
            <script src="js/gleek.js"></script>
            <script src="js/styleSwitcher.js"></script>
        {% endblock %}
    </body>
</html>
