<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Loading Bootstrap -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

            <!-- Loading Flat UI Pro -->
            <link href="/dist/css/flat-ui.css" rel="stylesheet">

            <script src="https://kit.fontawesome.com/21b5751b50.js" crossorigin="anonymous"></script>

        {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-0">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('dashboard') }}">Gym-Morrison</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {% if app.user.roles[0] == 'ROLE_STAFF' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('RegisterActivity') }}">Create Activity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('MyActivities') }}">My Activities</a>
                            </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="">Activities</a>
                                </li>
                            {% endif %}
                        </ul>

                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> {{ app.user.name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/profile/{{ app.user.id }}">My profile</a>
                                <a class="dropdown-item" href="">Edit my profile</a>
                                <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        <div class="container">
            {% endblock %}
            </div>
        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

            <!-- Bootstrap 4 requires Popper.js -->
            <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>

            <script src="/dist/scripts/flat-ui.js"></script>
        {% endblock %}
        <!--
        <footer class="text-muted mt-5">
            <div class="container">
                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
                <p>Gym-Morrison 2020 &copy;</p>
                <p>Need help? <a href="">Visit the help page</a> or read our <a href="">Policy privacy</a>.</p>
            </div>
        </footer>
        -->
    </body>
</html>
