{% extends 'base.html.twig' %}

{% block title %}Gym-Morrison · Staff Dashboard{% endblock %}

{% block body %}
    {{ parent() }}

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div id="app">
            <Dashboard />
        </div>
        {{ encore_entry_script_tags('app') }}
    </div>
    <!--**********************************
        Content body end
    ***********************************-->
    <!--**********************************
            Footer start
        ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <span class="text-primary">Gym-Morrison</span> 2020</p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/plugins/chart.js/Chart.bundle.min.js"></script>
    <script src="/js/plugins-init/chartjs-init.js"></script>
    <script src="/plugins/sweetalert/js/sweetalert.min.js"></script>
    <script src="/js/plugins-init/sweetalert.init.js"></script>
{% endblock %}

{#

{% for article in pag %}
    <div class="col-xl-3  mb-4">
        <div class="card border-bottom-primary h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <h6 class="m-0 font-weight-bold text-primary">{{ article.title }}</h6>

                        <div class="mb-0 font-weight-bold text-gray-800">{{ article.content }}</div>
                    </div>
                </div>
                <a type="button" class="btn btn-outline-info mt-3" href="/activity/{{ article.id }}">More</a>
            </div>
            <div class="card-footer text-muted">
                <b>{{ article.name }} {{ article.surname }}</b>
            </div>
        </div>
    </div>
{% endfor %}
</div>
#}
{# display navigation #}{#

<div class="navigation mx-auto mt-4" style="width: 200px;">
    {{ knp_pagination_render(pag) }}
</div>#}
