{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="m-3">Dashboard</h1>
    <div class="container">
        <div class="row">
            {% for article in pagination %}
                <div class="card m-3 shadow" style="width: 18rem;">
                    <img src="" class="card-img-top" alt="Photo">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.content }}</p>
                        <p class="card-text">{{ article.start_time | date }}</p>
                        <a href="/join-activity/{{ article.id }}" class="btn btn-primary">Apuntarme</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# display navigation #}
    <div class="navigation mx-auto mt-4" style="width: 200px;">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
